<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="LoginURL" value="~/Login.aspx" />
  </appSettings>
  
  <connectionStrings>
    <clear />
    <add name="ELF" connectionString="Server=.\SQLEXPRESS;Database=ELF;Integrated Security=SSPI;Pooling=true;Max Pool Size=100" />
  </connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Windows" />
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
	</system.web>
	<system.codedom>
	</system.codedom>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.webServer>
<!-- Remove rewite rules for portfolio site
        <rewrite>
            <rules>
                <clear />
                <rule name="Don't mess up ELFServices" stopProcessing="true">
                    <match url="ELFServices" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="None" />
                </rule>
                <rule name="CanonicalHostNameRule1" stopProcessing="true">
                    <match url="(.*)" negate="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTP_HOST}" pattern="^www\.e-l-fun\.com$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://www.e-l-fun.com/{R:1}" />
                </rule>
                <rule name="AddTrailingSlashRule1" stopProcessing="true">
                    <match url="(.*[^/])$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Redirect" url="{R:1}/" />
                </rule>
                <rule name="LowerCaseRule1" stopProcessing="true">
                    <match url="[A-Z]" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    </conditions>
                    <action type="Redirect" url="{ToLower:{URL}}" />
                </rule>
                <rule name="HTTP -> HTTPS (Everything)" stopProcessing="true">
                    <match url=".*" negate="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="OFF" />
                        <add input="{REQUEST_URI }" pattern="Default.aspx" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
                </rule>
                <rule name="HTTP -> HTTPS (Orders)" enabled="false" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^Order" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="OFF" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{REQUEST_URI}" appendQueryString="false" />
                </rule>
                <rule name="HTTPS -> HTTP (Everything else)" enabled="false" stopProcessing="true">
                    <match url="^Order" negate="true" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="OFF" negate="true" />
                    </conditions>
                    <action type="Redirect" url="http://{HTTP_HOST}/{REQUEST_URI}" />
                </rule>
            </rules>
        </rewrite>
-->
	</system.webServer>
</configuration>
